<div class="tab-content {{#if (eq activeTab 'bio')}}active{{/if}}">
  <div class="bio-grid">
    <div class="form-group">
        <label>Gender</label>
        <input type="text" name="system.bio.gender" value="{{system.bio.gender}}">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="text" name="system.bio.age" value="{{system.bio.age}}">
    </div>
    <div class="form-group">
        <label>Nationality</label>
        <input type="text" name="system.bio.nationality" value="{{system.bio.nationality}}">
    </div>
    <div class="form-group">
        <label>Birth Date</label>
        <input type="text" name="system.bio.birthdate" value="{{system.bio.birthdate}}">
    </div>
    <div class="form-group">
        <label>Height</label>
        <input type="text" name="system.bio.height" value="{{system.bio.height}}">
    </div>
    <div class="form-group">
        <label>Mass</label>
        <input type="text" name="system.bio.mass" value="{{system.bio.mass}}">
    </div>
    <div class="form-group">
        <label>Hair</label>
        <input type="text" name="system.bio.hair" value="{{system.bio.hair}}">
    </div>
    <div class="form-group">
        <label>Eyes</label>
        <input type="text" name="system.bio.eyes" value="{{system.bio.eyes}}">
    </div>
    <div class="form-group">
        <label>Handedness</label>
        <input type="text" name="system.bio.handedness" value="{{system.bio.handedness}}">
    </div>
        <div class="form-group">
        <label>Blood group</label>
        <input type="text" name="system.bio.handedness" value="{{system.bio.handedness}}">
    </div>


  </div>
  
  <hr>
  
  <div class="bio-traits">
      <h3>Merits & Flaws <a data-action="createItem" data-type="trait"><i class="fa-solid fa-plus"></i></a></h3>
      
      <div class="item-list trait-list">
          <div class="header-row">
              <span></span>
              <span>Name</span>
              <span class="center-text">Type</span>
              <span class="center-text">Cost</span>
              <span></span>
          </div>

          {{#each inventory.traits as |item|}}
          <div class="item-row">
              <div class="item-image"><img src="{{item.img}}" width="24" height="24"/></div>
              
              <span class="item-name">{{item.name}}</span>
              
              <div class="center-text" style="text-transform: capitalize;">
                  {{item.system.type}}
              </div>
              
              <div class="center-text">{{item.system.cost}}</div>
              
              <div class="item-controls">
                  <a data-action="editItem" data-id="{{item.id}}"><i class="fa-solid fa-edit"></i></a>
                  <a data-action="deleteItem" data-id="{{item.id}}"><i class="fa-solid fa-trash"></i></a>
              </div>
          </div>
          {{/each}}
      </div>
  </div>

  <hr>

  {{!-- Keep Notes as a text area --}}
  <div class="bio-text-area">
      <h3>Notes</h3>
      <textarea name="system.bio.notes">{{system.bio.notes}}</textarea>
  </div>
</div>