<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
  <div class="header-fields">
    <div class="row">
      <label>Name</label>
      <input name="name" type="text" value="{{actor.name}}"/>
    </div>
    <div class="row">
      <label>Nature</label>
      <input name="system.bio.nature" type="text" value="{{system.bio.nature}}"/>
    </div>
    <div class="row">
      <label>Gravity (Home/Current)</label>
      {{!-- Added inline style to force items to the left with a small gap --}}
      <div class="flexrow" style="justify-content: flex-start; gap: 5px;">
        <select name="system.bio.gravityHome">
          {{selectOptions @root.config.gravityTypes selected=system.bio.gravityHome}}
        </select>
        <span style="flex: 0 0 auto;">/</span>
        <select name="system.bio.gravityCurrent">
           {{selectOptions @root.config.gravityTypes selected=system.bio.gravityCurrent}}
        </select>
      </div>
    </div>
  </div>
</header>