<section class="cw-v2 cw-item">
  <header class="flexrow">
    <div class="flexcol">
      <label>{{localize "CW.Name"}}</label>
      <input type="text" name="name" value="{{item.name}}">
    </div>
    <div class="flexcol">
      <label>{{localize "CW.Type"}}</label>
      <span>{{item.type}}</span>
    </div>
  </header>

  <section class="details">
    <label>{{localize "CW.Description"}}</label>
    {{{editor system.description target="system.description" button=true owner=owner editable=isEditable}}}
  </section>
</section>
